In [8]:
# Script by @rikardoroa
from azure.storage.blob import BlockBlobService
from pyspark.sql.functions import col
from pyspark.sql import SparkSession as py
import pyspark.sql as ps

class MySparkConection:

    def __init__(self,SparkSession = py, FilterData =  ps.dataframe.DataFrame ):
        SparkSession = SparkSession.builder.master("spark://192.168.100.151:7077").appName("Conexion_Azure").getOrCreate() 
        self.SparkSession = SparkSession
        self.FilterData = FilterData
        
        
    def show_data(self):
        SparkSession = self.SparkSession
        key= "DzgVvdSXk76OPtNV0Dmf7JVltfnWo6cMDPJa95Bq/ReVpwaAnJdGksFL33fsHH6xz+ES7ZU9cbvxVCZFDHBbhA=="
        account="ranalytics7"
        container = "data"
        blob="AAPL.csv"
        file="AAPL.csv"
        AzureSession = BlockBlobService(account_name=account, account_key=key)
        AzureSession.get_blob_to_path(container_name=container, blob_name=blob, file_path=file)
        AzureDataFrame = SparkSession.read.option("header",True).csv(file)
        self.FilterData = AzureDataFrame
        return AzureDataFrame
        
    def FilterDataFromAzure(self):
        AzureDataFrame = self.FilterData
        DatosFromAzDataframe = AzureDataFrame.filter((col("Close")==66))
        FinalData =DatosFromAzDataframe.toPandas()
        return FinalData

In [9]:
conect = MySparkConection()
conect.show_data()
conect.FilterDataFromAzure()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-11-13,65.282501,66.195000,65.267502,66.117500,65.664490,102734400
1,2019-11-15,65.919998,66.445000,65.752502,66.440002,65.984779,100206400
2,2019-11-18,66.449997,66.857498,66.057503,66.775002,66.317490,86703200
3,2019-11-19,66.974998,67.000000,66.347504,66.572502,66.116371,76167200
4,2019-11-25,65.677498,66.610001,65.629997,66.592499,66.136230,84020400
5,2019-11-26,66.735001,66.790001,65.625000,66.072502,65.619789,105207600
6,2019-11-27,66.394997,66.995003,66.327499,66.959999,66.501213,65235600
7,2019-11-29,66.650002,67.000000,66.474998,66.812500,66.354729,46617600
8,2019-12-02,66.817497,67.062500,65.862503,66.040001,65.587517,94487200
9,2019-12-05,65.947502,66.472504,65.682503,66.394997,65.940086,74424400
10,2019-12-09,67.500000,67.699997,66.227501,66.730003,66.272789,128042400
11,2020-03-09,65.937500,69.522499,65.750000,66.542503,66.243423,286744800
12,2020-04-08,65.684998,66.842499,65.307503,66.517502,66.218536,42223800
13,2020-04-09,67.175003,67.517502,66.175003,66.997498,66.696373,40529100