In [1]:
#DataFrame Styles
#script by @rikardoroa
#just Python it!

import pandas as pd
import numpy as np


class data:
    
    def __init__(self, Data = pd.DataFrame):
        self.Data = Data
   

        
    @classmethod
    def create_dataframes(self):
        Random = np.random.randn(6)
        Random_2 = np.random.randn(6)
        Random_choise = np.random.randint(5, size=(6))
        Date_Data = pd.DataFrame(["2021-02-01","2021-02-02",
                                  "2021-02-03","2021-02-04","2021-02-05","2021-02-06"],columns={"D"})
        Data = pd.DataFrame(Random_choise, columns=["A"])
        Data = pd.concat([Data, pd.DataFrame(Random, columns=list("B"))],axis=1)
        Data = pd.concat([Data, pd.DataFrame(Random_2, columns=list("C"))],axis=1)
        Data = pd.concat([Data, pd.DataFrame(Date_Data, columns=list("D"))],axis=1)
        self.Data = Data
        return Data
 

    @classmethod
    def boolean_exploration(self):
        Data = self.Data
        return Data[["B"]]<0
    
    
    def mask_y(x):
        yellow = "background-color:yellow"
        mask= x["B"]<0
        d = pd.DataFrame('', x.index,x.columns)
        d.loc[mask,:] = yellow
        return d
    
    
    def mask_g(x):
        green = "background-color:#81df81"
        mask= x["A"]>0
        d = pd.DataFrame('', x.index, x.columns)
        d.loc[mask,:] = green
        return d
    
    
    
    def mask_o_y(x):
        yellow = "background-color:yellow"
        orange = "background-color:#F5C48F"
        mask= x["B"]<0
        mask2= x["B"]>0
        d = pd.DataFrame('', x.index, x.columns)
        d.loc[mask,:] = yellow
        d.loc[mask2,:] = orange
        return d
    
       
    @staticmethod
    def apply_mask_y(): 
        return data.create_dataframes().style.apply(data.mask_y, axis=None,subset=["B"])
    
    
    @staticmethod
    def apply_mask_g(): 
        return data.create_dataframes().style.apply(data.mask_g, axis=None,subset=["A"])
       
        
    @staticmethod
    def apply_mask_o_y(): 
        return data.create_dataframes().style.apply(data.mask_o_y, axis=None,subset=["B"])
    
    
    
    @classmethod
    def background_yellow(self):
        return self.Data.loc[self.Data["B"]<0].style.set_properties(**{'background-color': 'yellow'} ,subset=['B'])
    
    
    
    @classmethod
    def background_yellow_lambda_exp(self):
        yellow =  self.Data.loc[lambda x : x["B"]<0].style.set_properties(**{'background-color': 'yellow'} ,subset=['B'])
        return yellow
  

    def background_values(x):
        color=''
        if x < 0:
            color = 'background-color:yellow'
            return color
        if x >= 2:
            color = 'background-color:red'
            return color
        if x > 0:
            color = 'background-color:#F5C48F'
            return color
        if x == 0:
            color = 'background-color:orange'
            return color

    @staticmethod
    def apply_mask_background_colors():
        return data.create_dataframes().style.applymap(data.background_values,subset=["A","B","C"])

In [2]:
data.create_dataframes()

   A         B         C           D
0  3 -0.470854 -0.290282  2021-02-01
1  3 -1.528919 -1.143440  2021-02-02
2  1 -2.179876  0.245735  2021-02-03
3  0  0.191697 -0.861525  2021-02-04
4  4 -1.253356  0.992150  2021-02-05
5  2 -0.620082  2.868669  2021-02-06

In [3]:
data.boolean_exploration()

       B
0   True
1   True
2   True
3  False
4   True
5   True

In [4]:
data.apply_mask_y()

In [5]:
data.apply_mask_g()

In [6]:
data.apply_mask_o_y()

In [7]:
data.background_yellow()

In [8]:
data.background_yellow_lambda_exp()

In [9]:
data.apply_mask_background_colors()